@font-face {
  font-weight: 300;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: #cacaca;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;

  background: #08020d;
}

h1 {
  color: #fff;
  font: bold 60px/90px 'Roboto', sans-serif;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font: bold 38px/57px 'Roboto', sans-serif;
  text-transform: uppercase;
}

.orange {
  color: #f89202;
}

.white {
  color: #fff;
}

.grey {
  color: #cacaca;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
}

.ml-16 {
  margin-left: 16px;
}

.mr-91 {
  margin-right: 91px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-83 {
  margin-bottom: 83px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-63 {
  margin-bottom: 63px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-46 {
  margin-bottom: 46px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-11 {
  margin-bottom: 11px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-24 {
  padding-top: 24px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-21 {
  padding-bottom: 21px;
}

.pb-13 {
  padding-bottom: 13px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  line-height: 16.5px;
}

.logo img {
  width: 24px;
  height: 24px;
}

.nav {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;

  align-items: center;

  font-weight: 400;
  font-size: 11px;
  line-height: 12.89px;
  text-transform: uppercase;
}

footer {
  color: #e0e0e0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

footer a {
  color: #e0e0e0;
  text-decoration: none;
}

.top-footer {
  padding-top: 62px;
  padding-bottom: 72px;
}

.bottom-footer {
  padding-top: 40px;
  padding-bottom: 48px;
}

.nav__item-menu {
  gap: 24px;
  margin: 0;
  padding-left: 0;

  line-height: 1.6em;

  list-style: none;
}

.nav__item-menu a {
  text-decoration: none;
}

.header-bg {
  position: relative;

  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url("../img/banner-header.png");
  background-position: center;
  background-size: cover;
}

.header-bg-artist {
  position: relative;

  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url("../img/MortenHarket1.png");
  background-position: center;
  background-size: cover;
}

.img-logo {
  width: 24px;
  height: 24px;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  white-space: nowrap;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  justify-content: space-between;
}

.header-form {
  margin-top: 5px;
}

.form__input {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  justify-content: space-between;
  width: 100%;
}

.form__input input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 273px;
  min-height: 50px;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;

  color: #fff;
  font-size: 18px;

  background-color: transparent;
  outline: none;
}

.form__input input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.form__input input::-ms-input-placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.form__input input:-ms-input-placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.form__input input::placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.nav__search-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 308px;
  max-width: 570px;
  height: 25px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;

  background: #3c3b3d;
  outline: none;
}

.nav__search-form::-webkit-input-placeholder {
  color: #757575;
  font-size: 13px;
  text-transform: uppercase;
}

.nav__search-form::-ms-input-placeholder {
  color: #757575;
  font-size: 13px;
  text-transform: uppercase;
}

.nav__search-form:-ms-input-placeholder {
  color: #757575;
  font-size: 13px;
  text-transform: uppercase;
}

.nav__search-form::placeholder {
  color: #757575;
  font-size: 13px;
  text-transform: uppercase;
}

.nav__item {
  -webkit-box-align: center;
  -ms-flex-align: center;

  align-items: center;
  width: 100%;
}

.description {
  margin-top: 31px;

  font-size: 16px;
  line-height: 24px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 30px;
  border-radius: 5px;

  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

.form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 570px;
  margin-top: 17px;
}

.form__btn {
  -webkit-box-flex: 1;

  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 57px;
  border: none;

  font: normal 13px 'Arial', sans-serif;

  background: #34c176;
}

.form__btn:hover {
  background: #05aa52;
}

main {
  background: #08020d;
}

.pricing {
  -webkit-box-flex: 1;

  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pricing__item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
}

.pricing__item h3 {
  margin-bottom: 200px;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.pricing__item-container {
  width: 319px;
  margin: 0 auto;
  padding-top: 23px;
}

.pricing__value {
  margin-bottom: 38px;

  font-size: 64px;
  line-height: 1em;
  text-transform: uppercase;
}

.pricing__value span {
  font-size: 32px;
  line-height: 48px;
  vertical-align: top;
}

.bg-free {
  background-image: url("../img/FreeBg.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../img/StandartBg.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../img/PremiumBg.png");
  background-position: center;
  background-size: cover;
}

.btn-checkout {
  width: 257px;
  border: 1px solid #fff;

  font-weight: 300;
  font-size: 16px;
}

.pricing__footer {
  margin-bottom: 64px;

  font-weight: 300;
  font-size: 12.8px;
  line-height: 19.2px;
  text-align: center;
}

.pricing-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.news {
  gap: 50px;
}

.news-body {
  font-size: 16px;
  line-height: 24px;
}

.news-body h3 {
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

.news-author {
  -webkit-box-align: center;
  -ms-flex-align: center;

  align-items: center;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.6em;
  text-transform: uppercase;
}

.news-author::before {
  width: 19px;
  height: 19px;
  margin-right: 16px;

  background: no-repeat top/cover url(../img/avatar.png);

  content: "";
}

.news-author .date {
  margin-left: 16px;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;

  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.btn-to-the-album {
  width: 75px;
  height: 21;
  padding: 16px 30px;
  border: 1px solid #fff;

  color: #cacaca;
  font-size: 12px;
  line-height: 1.6em;
}

.mobile-app {
  text-align: start;
}

.mobile-app h2 {
  text-align: center;
}

.mobile-app__container {
  gap: 144px;
}

.mobile-app__container p {
  width: 600px;

  font-size: 16px;
  line-height: 24px;
}

.mobile-app__container div {
  -ms-flex-item-align: start;

  align-self: flex-start;
  margin-top: 16px;
}

.mobile-img {
  width: 333px;
  height: 278px;
}

.btn-download {
  padding: 16px 40px;
  border-radius: 32px;

  font-weight: 400;
  font-size: 12.8px;
  line-height: 1.5em;
  text-transform: none;

  background: #95390c;
}

.info {
  gap: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  justify-content: space-between;

  text-align: start;
}

.info__elem {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.info__elem h2 {
  font-size: 18px;
  line-height: 27px;
}

.info__elem-menu {
  list-style: none;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  -ms-flex-direction: column;
  flex-direction: column;
}

.gap-20 {
  gap: 20px;
}

.info__elem-subscribe {
  gap: 24px;
}

.info__elem-subscribe a {
  margin: auto 0;
}

.border-line {
  border-top: 2px solid #cacaca;
}

.footer-menu {
  gap: 16px;

  list-style: none;
}

.txt-align-left {
  text-align: left;
}

.txt-align-center {
  text-align: center;
}

.header-artist {
  color: #fff;
}

.header-artist p {
  font-size: 16px;
  line-height: 24px;
}

.artist-header {
  margin-top: 55px;
}

.btn-music {
  -webkit-box-align: center;
  -ms-flex-align: center;

  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 200px;
  border: 0;

  font-weight: 400;
  font-size: 12.8px;
  line-height: 19.2px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-music img {
  width: 20px;
  height: 20px;
}

.like img {
  width: 20px;
  height: 17.79px;
}

.purple {
  background: #5328a1;
}

.red {
  background: #95390c;
}

.player-buttons {
  gap: 1.5rem;
}

.list-popular-tracks {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 25px 49px;
}

.popular-track {
  -webkit-box-align: center;
  -ms-flex-align: center;

  align-items: center;
  width: 47%;
}

.track-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-small {
  color: #e0e0e0;
  font-size: 12.8px;
  line-height: 19.2px;
}

.text-small h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: uppercase;
}

.music-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 25px 50px;
}

.music-list__elem {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  -ms-flex-direction: column;
  flex-direction: column;
}

.music-list__elem img {
  width: 250px;
  height: 250px;
}

.music-list__info {
  color: #e0e0e0;
  font-size: 16px;
  line-height: 24px;
}

.music-list__info h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

@media (max-width: 800px) {
  body {
    min-width: 414px;
  }

  h1 {
    color: #fff;
    font: bold 30px/45px 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  h2 {
    color: #fff;
    font: bold 18px/27px 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  .header-bg-artist {
    padding-top: 200px;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    font-weight: 700;
  }

  .nav > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav form {
    width: 100%;
  }

  .nav__item {
    -webkit-box-align: start;
    -ms-flex-align: start;

    align-items: flex-start;
  }

  .nav__item-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
    margin-top: 16px;

    line-height: 16px;
    text-align: left;
  }

  .nav__search-form {
    width: 100%;
  }

  .description {
    margin-top: 16px;
  }

  .header-form {
    margin-top: 48px;
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
  }

  .form__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
    min-width: 100%;
  }

  .form__input input {
    min-width: 100%;
  }

  .pricing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .pricing__item {
    max-width: 374px;
  }

  .pricing__item h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .pricing__item-container {
    padding-top: 15px;
  }

  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
  }

  .news img {
    width: 374px;
    height: 186px;
  }

  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
  }

  .news-body h3 {
    margin-bottom: 16px;

    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
  }

  .mobile-app__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;

    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .mobile-app__container p {
    width: 100%;
  }

  .mobile-img {
    margin: 0 auto;
  }

  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }

  .info__elem {
    width: auto;
  }

  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
  }

  .footer-menu a {
    width: 100%;
  }

  .artist-header {
    margin-top: 27px;
  }

  .player-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
  }

  .list-popular-tracks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 25px;
  }

  .popular-track {
    width: 100%;
  }

  .music-list__elem {
    width: 138px;
  }

  .music-list__elem img {
    width: 137px;
    height: 137px;
  }
}
