
@media (max-width: 800px) {
  body {
    min-width: 414px;
  }

  h1 {
    color: $white;
    font: bold 30px/45px 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  h2 {
    color: $white;
    font: bold 18px/27px 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  .header-bg-artist {
    padding-top: 200px;
  }

  .nav {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

    font-weight: 700;

    & > div {
      flex-direction: column;
    }

    form {
      width: 100%;
    }
  }

  .nav__item {
    align-items: flex-start;
  }

  .nav__item-menu {
    flex-direction: column;
    gap: 0;

    margin-top: 16px;

    line-height: 16px;

    text-align: left;
  }

  .nav__search-form {
    width: 100%;
  }

  .description {
    margin-top: 16px;
  }

  .header-form {
    margin-top: 48px;
  }

  .form {
    display: flex;
    flex-direction: column;

    max-width: 100%;
  }

  .form__input {
    flex-direction: column;
    gap: 24px;

    min-width: 100%;

    input {
      min-width: 100%;
    }
  }

  .pricing {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .pricing__item {
    max-width: 374px;

    h3 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .pricing__item-container {
    padding-top: 19px;
  }

  .news-item {
    padding-bottom: 0;

    img {
      float: none;

      width: 374px;
      height: 186px;

      margin-right: 0;
    }
  }

  .news-body {
    h3 {
      margin-top: 50px;

      font-weight: normal;
      font-size: 16px;
      line-height: 24px;

      text-transform: capitalize;
    }
  }

  .mobile-app__container {
    flex-direction: column-reverse;

    gap: 16px;
    align-self: flex-start;

    p {
      width: 100%;
    }
  }

  .info {
    flex-direction: column;

    gap: 30px;
  }

  .info__elem {
    width: auto;
  }

  .footer-menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    a {
      width: 100%;
    }
  }

  .artist-header {
    margin-top: 27px;
  }

  .player-buttons {
    flex-direction: column;
  }

  .list-popular-tracks {
    flex-direction: column;

    row-gap: 25px;
  }

  .popular-track {
    width: 100%;
  }

  .music-list__elem {
    width: 138px;

    img {
      width: 137px;
      height: 137px;
    }
  }
}
