@media (max-width: 800px) {
  body {
    min-width: 414px;
  }
  
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font: bold 30px/45px 'Roboto', sans-serif;
    text-transform: uppercase;
    color: $white;
  }

  h2 {
    font: bold 18px/27px 'Roboto', sans-serif;
    text-transform: uppercase;
    color: $white;
  }

  .header-bg {
    padding-top: 250px;
  }

  .nav {
    flex-direction: column;
    gap: 18px;  
    align-items: flex-start;

    font-weight: 700;

    & > div {
      flex-direction: column;
    }

    form {
      width: 100%;
    }
  }

  .nav__item {
    align-items: flex-start;
  }

  .nav__item-menu {
    flex-direction: column;
    gap: 0;

    padding-top: 18px;
    
    text-align: left;
    line-height: 1.5em;
  }
  .nav__search-form {
    input[type=text] {
      width: 100%;
    }
  }
  .description {
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;

    margin-top: 16px;
    font-size: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;

    max-width: 100%;
  }

  .form__input {
    min-width: 100%;
    input {
      min-width: 100%;
    }
  }

  .pricing {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .pricing__item {
    max-width: 374px;
    h3 {
      font-weight: 700;
      font-size: 16px;
    }
  }

  .news-item {
    padding-bottom: 0;
    img {
      float: none;
      
      width: 374px;
      height: 186px;

      margin-right: 0;
    }
  }

  .news-body {
    h3 {
      margin-top: 50px;

      font-weight: normal;  
      font-size: 16px;
      line-height: 24px;
    }
  }

  .mobile-app__container {
    flex-direction: column-reverse;
    align-self: flex-start;

    gap: 16px;

    p {
      width: 100%;
    }
  }

  .info {
    flex-direction: column;

    gap: 30px;

    margin-bottom: 75px;
  }

  .footer-menu {
    flex-direction: column;

    align-items: flex-start;
  }

  .player-buttons {
    flex-direction: column;
  }

  .list-popular-tracks {
    flex-direction: column;

    row-gap: 25px;
  }

  .popular-track {
    width: 100%;
  }

  .music-list__elem {
    width: 138px;

    img {
      width: 137px;
      height: 137px;
    }
  }
}