$dark-grey: #cacaca;
$black: #08020d;
$white: #fff;

@font-face {
  font-weight: 300;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: $dark-grey;

  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;

  background: $black;
}

h1 {
  color: $white;
  font: bold 60px/90px 'Roboto', sans-serif;
  text-transform: uppercase;
}

h2 {
  color: $white;
  font: bold 38px/57px 'Roboto', sans-serif;
  text-transform: uppercase;
}
