$dark-grey: #CACACA;
$black: #08020D;
$white: #fff;
$orange: #F89202;

.white {
  color: $white;
}

.orange {
  color: $orange;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.ml-16 {
  margin-left: 16px;
}

.mr-91 {
  margin-right: 91px;
}

.mr-50 {
  margin-right: 50px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-64 {
  margin-bottom: 64px;
}

.pt-100 {
  padding: 100px;
}

.flex {
  display: flex;
}

.logo{
  &::before {
    float: left;

    width: 24px;
    height: 24px;

    margin-right: 16px;

    background: no-repeat top/cover url(../img/logo1.png);

    content: "";
  }
}

.nav {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;

  align-items: center;

  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
}

.nav__menu {
    list-style: none;
    gap: 24px;
    
    margin: 0; 
    padding-left: 0; 

    line-height: 1.6em;
  a {
    text-decoration: none;
    color: $dark-grey;
  }
}
.header-bc {
  position: relative;
  background-image: url('../img/banner 1.png');
  background-position: center;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;
}

.img-logo {
  width: 24px;
  height: 24px;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  white-space: nowrap;
}

.space-between {
  justify-content: space-between;
}

.nav__search-form {
  input {
    box-sizing:border-box;
    padding: 5px 10px;

    width: 248px;
    height: 25px;

    border: 0;
    border-radius: 50px;

    background: #3C3B3D;

    &::placeholder {

    font-size: 13px;
    text-transform: uppercase;
    color: #757575;
    }
  }
}

.full-width {
  width: 100%;
}

.description {
  flex-direction: flex-start;
  flex-wrap: nowrap;

  margin-top: 31px;
  justify-content: center;

  font-size: 16px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  padding: 20px 30px;

  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  border-radius: 5px;

  cursor: pointer;
}

.form {
  display: inline-flex;
  flex-wrap: wrap;

  justify-content: center;

  gap: 24px;
  margin-top: 17px;

  max-width: 570px;
}

.form__input {
  flex: 1 1 auto;
  input {
    box-sizing:border-box;
    
    min-width: 272px;
    min-height: 50px;

    padding-left: 20px;

    background-color: transparent;

    border: 2px solid #CACACA;
    border-radius: 3px;
    
    font-size: 18px;
    color: #fff;

    outline:none;
    &::placeholder {

    font-weight: 700;  
    font-size: 14px;
    color: #fff;
    }
  }
}

.form__btn {
  flex: 1 1 auto;
  height: 57px;

  font: normal 13px 'Arial', sans-serif;

  border: 0;
  background: #34C176;

  &:hover {
    background: #05aa52;
  }
}

main {
  background: $black;
}

.pricing {
  justify-content: center;
  gap: 46px;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.pricing__item {
  height: 615px;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  
  border-radius: 1rem;

  h3 {
    margin-bottom: 200px;

    font-weight: 300;
    font-size: 24px;

    text-transform: uppercase;
  }
}



.pricing__item-container {
  width: 319px;

  margin: 0 auto;
}

.pricing__value {
  font-size: 64px;
  line-height: 1em;
  text-transform: uppercase;
  
  span {
    font-size: 32px;
    vertical-align: text-top;
  }
}

.bg-free {
  background-image: url('../img/Free Bg.png');
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url('../img/Standart Bg.png');
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url('../img/Premium Bg.png');
  background-position: center;
  background-size: cover;
}

.btn-checkout {
  width: 257px;

  font-weight: 300;

  border: 1px solid #FFFFFF;
}

.pricing__footer {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
}

.pricing-description {
  font-size: 16px;
  font-weight: 300;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.news-item {
  text-align: start;
}

.news-body {
  font-size: 16px;
  h3 {
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
  }
}

.news-author {
  align-items: center;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.6em;
  text-transform: uppercase;

  &::before {
    width: 19px;
    height: 19px;

    margin-right: 16px;

    background: no-repeat top/cover url(../img/avatar1.png);

    content: "";
  }

  &::after {
    margin-left: 16px;

    content: "17/01/2020"
  }
}

.btn-to-the-album {
  width: 75px;
  height: 21;
  padding: 16px 30px;

  font-size: 12px;
  line-height: 1.6em;
  color: $dark-grey;


  border: 1px solid #FFFFFF;
}